@model Persistance.DataModel.Customer

@{
    ViewBag.Title = "CustomerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CustomerDetails</h2>

@if (Model==null)
{
    <p>The Customer Doesnt Exist</p>
    @Html.ActionLink("Back to List", "Index", "Movies", null, null)
}
else
{

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            @if (Model.BirthDate != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model.BirthDate )
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BirthDate)
            </dd>

            }
            <dt>
                @Html.DisplayNameFor(model => model.IsSubscribedToNewsLetter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSubscribedToNewsLetter)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MembershipType.Name )
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MembershipType.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Updated)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Updated)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RowVersion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RowVersion)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List","Index")
    </p>

}
